h1, h2, h3{
  color: #9e1b32;
  font-family: "FrutigerLTW01-67BoldCn", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.wp-editor hr{
  clear: both;
}






@font-face {
  font-family: 'FrutigerLTW01-67BoldCn';
  src: url("assets/fonts/frutigerltw01-67boldcn.eot?") format("eot"), url("assets/fonts/frutigerltw01-67boldcn.woff") format("woff"), url("assets/fonts/frutigerltw01-67boldcn.ttf") format("truetype"), url("assets/fonts/frutigerltw01-67boldcn.svg") format("svg");
}