#sju-banner{
  background-color: $brand-primary;
  height: 38px;
  font-family: $sans-serif;
  width: 100%;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    color: #ddd;
    &:hover{
      color: #999;
      text-decoration: none;
    }
  }
}
.banner-logo{
  width: 30px;
  float: left;
  margin: 2px 20px;
}
#banner-menu {
	float: right;
	font-size: 10px;
	line-height: 2;
	margin: 5px 0px;
	text-align: right;
	li{
  	margin-left: 8px;
  	padding-left: 8px;
  	border-left: solid 1px #cccccc;
  	float: left;
  	display: inline
	}
	li:first-child{
  	padding-left: 0;
  	margin-left: 0;
  	border-left: none;
	}
	.search-input{
    font-size: 10px;
    padding-left: 5px;
    border: none;
    background-color: #fff;
    font-family: $sans-serif;
    line-height: 20px;
  }
  .search-submit {
    color: #fff;
    font-size: 17px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 4px;
    text-shadow: none;
    line-height: 1;
	}
}
#sju-menu{
  display: none; // hidden in mobile
}

@media screen and (min-width: 550px){
  #sju-menu{
    display: inline-block; // hidden in mobile
    float: left;
  }
  #banner-menu{
    width: 400px;
  }
}
@media screen and (min-width: 686px){
  .banner-logo{
    width: 175px; 
  }
  
}
@media screen and (min-width: 800px){
  #banner-menu{
    width: 500px;
  }
}


.top-bar-widgets{
  font-size: .9em;
}
.top-bar-widgets > div{
  float: right;
}
.top-bar-widgets .menu li{
  display: inline-block;
}
#sju-banner .top-bar-widgets .menu li a{
  display: inline-block;
  color: white;
  padding: 8px;
}
@media screen and (max-width: 768px) {
  #sju-banner .top-bar-widgets{
    display: none;
  }
}

/*
.banner-logo{
	width: 200px;
	float: left;
	margin: 2px 20px;
}
.homepageLogo{
	width: 230px;
	float: right;
}
.homepageLogo img{
	max-width: 100%;
	height: auto;
}

#banner-menu li.social-icons a {
	margin-right: 6px;
}



@media screen and (max-width: 560px) {
	div.search-form {
		display: block;
		float: none;
		margin-left: 0;
	}
  #banner-menu {
		float: right;
		width: 275px;
  }

	.banner-logo{
		width: 30px;
		float: left;
	}

	#sju-menu {
		width: 0%;
		display: none;

	}
	#sju-search{
		display: block;
		float: right;
		width: 42%;
		margin: -4px 0px;
		min-width: 140px;
	}

}
@media screen and (min-width: 700px) {
  #banner-menu {
  	float: right;
  	width: 50%;
  	display: inline;
  	font-size: 10px;
  	line-height: 20px;
  	margin: 10px 0px;
  }
  #sju-search {
	  float: right;
    margin: -4px 13px;
  }
}
*/
