/*!
Theme Name: SJU Sites Theme
Theme URI: http://underscores.me/
Author: Kelly Anne Pipe | Saint Joseph\'s University
Author URI: http://@kellygrape
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sju-sites
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

SJU Sites Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

@import "variables-site/variables-site";
@import "mixins/mixins-master";

// Vendor
@import "vendor/font-awesome/font-awesome";


// Theme Styles

@import "normalize";
@import "base/base";
@import "sjubanner";




.container, .wrapper{
  width: 95%;
  margin: 0px auto;
  max-width: $site-max-width;
}
.flex-wrap{
  display: flex;
}
@media screen and (min-width: 800px){
  .wrapper{
    min-width: 780px;
  }
}
@media screen and (min-width: 1024px){
  .wrapper{
    min-width: 980px;
    width: 80%;
  }
}



.site-header{
  background-color: white;
  padding: 20px 0;
}
.site-details{
  max-width: 800px;
}
.site-title{
  font-size: 3em;
  margin-bottom: 0px;
  a{ color: #9e1b32; }
}
.site-description{
  margin: 0;
}
.site-content{
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  min-height:50vh;
}
.has-background .site-content{
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.page-header{
  margin: 0;
  border-bottom: 0;
  padding: 0;
}

.screen-reader-text{
  display: none;
}


@import 'site/_layouts.scss';


.post-meta {
  font-size: .85em;
  color: #666;
  span:after{
    content: " \002F ";
    margin: 0px 5px;
  }
  span.edit-link:after{
    content: '';
  }
  span.edit-link{
    margin-left: 20px;
  }
}





@import "forms/forms";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";
@import "site/footer";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";



/*----------------------
# Customizations
------------------------*/

// the bootstrap panels from EBSP don't display correctly when there is an icon.
.panel-group .panel-default .panel-title a.accordion-toggle, .panel-group .panel-default .panel-title a:focus{
  padding: 5px 0 5px 40px;
}

.widget_sju_nav_menu .fl-menu .menu li a {
  padding: 7px 0px;
  font-size: .9em;
}
.widget_sju_nav_menu.widget .fl-menu .sub-menu li a {
  padding: 7px;
  font-size: .9em;
}
.widget_sju_nav_menu{
  .menu li {
    border-color: #9e1b32;
  }
  a{
    padding: 15px;
  }
  .fl-menu li:first-child {
    border-top: none;
  }
  .fl-menu .sub-menu li:last-child {
    border-bottom: none;
  }
  
}



.widget_sju_nav_menu .fl-menu .menu, .widget_sju_nav_menu .fl-menu .sub-menu{
  min-width: 100px;
}
.widget_sju_nav_menu .fl-menu .sub-menu {
  -webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 20px rgba(0,0,0,0.1);
  box-shadow: 0 1px 20px rgba(0,0,0,0.1);
}

.widget_sju_nav_menu .fl-menu .sub-menu {
  background-color: #e3e3e3;
  background-color: rgba(227,227,227,1);
}
.widget_sju_nav_menu .fl-menu-toggle {
  width: 23px;
  height: 23px;
  margin: -11.5px 0 0;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}
.widget_sju_nav_menu .fl-has-submenu-container {
  position: relative;
}
.widget_sju_nav_menu .fl-menu-toggle:before{
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 1;
  display: block;
  width: 9px;
  height: 9px;
  margin: -5px -5px 0 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateX( -5px ) rotate( 45deg );
  -ms-transform: translateX( -5px ) rotate( 45deg );
  transform: translateX( -5px ) rotate( 45deg );
}