#footer-main{
  background-color: #666;
	border-top: solid 6px #666;
	font-size: .9em;
	font-family: sans-serif;

	a{
  	color: #ccc;
	}
	h3 {
    color: white;
    font-size: 1.5em;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin: 5px 0 20px;
  }
  .btn{
    border-radius: 0px;
    border: 2px solid;
    background-color: #9E1B32;
    background-color: rgba(158, 27, 50, 0.5);
    color: #FFF;
    border-color: #A34B5A;
    &:hover{
      background-color: #9E1B32;
    }
  }
  
  .hawk-connect-btn{
    margin-top: 15px;
    margin-bottom: 5px;
  }
}



.sil-footer {
  background-color: transparent;
  position: relative;
  background-color: #666;
  position: relative;
  margin-top: -200px;
  z-index: 5;
  opacity: .15;
}
.shadow-mid {
  height: 226px;
  /*background: url(../img/sju_skyline.png) no-repeat center bottom;*/
  position: relative;
  bottom: 8px;
  z-index: 25;
  padding-top: 175px;
}
.shadow-ground {
  width: 100%;
  background: #fff;
  height: 10px;
  position: absolute;
  bottom: 0;
}

.sju-footer-menus{
  position: relative;
  z-index: 30;
  .flex-wrap{
    flex-direction: row;
    flex-wrap: wrap;
  }
  ul{
    margin: 0;
    padding: 0;
    flex-basis: 49%;
    list-style: none;
    margin-bottom: 20px;
    max-width: 49%;
  }
  li:first-child{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    color: #ccc;
  }
}

.sju-address-text{
  color: black;
  position: relative;
  text-align: center;
  font-size: 12px;
}
.sju-address-text .school-name strong{
  font-size: 1.25em;
}

.sju-social-footer{
  ul{
    margin: 0;padding: 0;list-style:none;
  }
  li{
    display: inline-block;
    padding: 10px;
  }
}
.sju-footer-ctas{
  padding: 40px 20px;
}


// flexbox

.sju-footer-info{
  flex-direction: column;
  justify-content: space-between
}
@media screen and (min-width: 768px){
  .sju-footer-info{
    flex-direction: row;
    justify-content: space-between
  }
  .sju-social-footer{
    max-width: 39%;
  }
  .sju-footer-ctas, .sju-footer-menus{
    max-width: 30%;
  }

}



