// flexibility.js breaks when we try to use display:none on an element
/*
.notie .sidebar2{
  display: none;
}
.notie .layout-scs .sidebar2, .notie .layout-ssc .sidebar2{
  display: block;
}
*/
.site-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-content, .sidebar1, .sidebar2{
  padding: 0 10px;
}
.main-content{
  flex-basis: 100%;
  max-width: 100%;
  order: 1;
}
.sidebar1, .sidebar2{
  flex-basis: 45%;
  max-width: 100%;
  order: 2;
}


// set up the sidebar widths
@media screen and (min-width: 768px){
  .sidebar1, .sidebar2{
    flex-basis: 25%;
    max-width: 25%;
  }
  //something in safari makes it so if we do a full 50 or 75 here, the columns wrap
  // incorrectly.
  .main-content{
    flex-basis: 49%;
    max-width: 49%;
  }
  .layout-noside .main-content{
    flex-basis: 100%;
    max-width: 100%;
  }
  .layout-sc, .layout-cs{
    .main-content{
      flex-basis: 74%;
      max-width: 74%;
    }
  }
}
// set up the sidebar orders
@media screen and (min-width: 768px){
  .layout-sc{
    .sidebar1{ order: 1; }
    .main-content{ order: 2; } 
  }
  .layout-cs{
    .sidebar1{ order: 2; }
    .main-content{ order: 1; } 
  }
  .layout-scs{
    .sidebar1{ order: 1; }
    .main-content{ order: 2; }
    .sidebar2{ order: 3; }
  }
  .layout-ssc{
    .sidebar1{ order: 1; }
    .main-content{ order: 3; }
    .sidebar2{ order: 2; }
  }
}