.widget {
	margin: 0 0 1.5em;
  padding: 20px;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.widget-title{
  	color: $brand-primary;
  	font-size: 1em;
  	font-weight: normal;
  	text-transform: uppercase;
  	margin-bottom: 1em;
	}
	ul{
  	list-style: none;
  	margin: 0;
  	padding: 0;
	}
	li{
  	margin-top:5px;
	}
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);
}
.widget-grey {
  background-color: #eee;
  border-top: solid 6px #9E1B32;
  color: #333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#secondary-sidebar .widget {
  box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.05);
}


// The search widget

.widget_search {
  .search-submit{
    background-color: $brand-primary;
    border: 1px solid darken($brand-primary, 5%);
    color: white;
    display: inline-block;
    padding: 8px 3% 8px 3%;
  }
  label{
    width: 67%;
  }
  .search-field{
    background-color: #f3f3f3;
    border: solid 1px #e9e9e9;
    color: #888;
    font-size: 13px;
    margin: 0 0 5px;
    padding: 8px 3% 8px 3%;
    border-radius: 2px;
    
  }
}

// Sidebar Menus

.widget .menu ul   {
  margin: 0;
  padding: 0; 
}
.widget .menu li {
  border-bottom: 1px solid #efefef;
  margin: 0;
}
.widget .menu li a {
  display: block;
  padding: 5px;
  line-height: 1.3;
}

/*calendar widget */
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:4px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 9px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 9px; text-transform: uppercase; padding-top: 10px; }