html {
	box-sizing: border-box;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
  text-decoration: none;
	color: $color__link;
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

.ie8 img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
  /* vertical-align: bottom; */ /* Suppress the space beneath the baseline */


  /* Responsive images */
  /* @todo Add responsive embedded video. */
  max-width: 100%;
  height: auto;
  width: auto;
}

figure{
  margin: 0;
}
@import "typography";

@import "lists";
@import "tables";

@import "menus";
@import "socialnav";