.primary-menu .btn_menu { display:block; }

.primary-menu .menu-item-has-children > a:after { 
  content: "\f078"; display: inline-block; 
  -webkit-font-smoothing: antialiased; 
  font: normal .85em/1.5 FontAwesome; 
  vertical-align: top; 
  margin: 0 0px 0 6px; 
  float:right; 
}

.primary-menu ul.shown{
  display: block;
}
.primary-menu {
  background-color: #666;
  .nav>li>a:focus, .nav>li>a:hover{
    background-color: lighten(#666, 10%);
  }

  ul{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
  	color: #fff;
  	padding: 10px;
  	display: block;
  	position: relative;
  }
  a:hover, a:focus,
  li.current-menu-item a,
  a:active,
  li.current-item a {
    background-color: #777;
  }
  .sub-menu {
    background-color: #777;
    display: none;
    position:absolute;
    width: 200px;
    font-size: .85rem;
    border-top: 1px solid #555;
    z-index: 100;
    li{
      display: block;
      border-bottom: 1px solid #ccc;
      border-left: 4px solid transparent;
    }
    a:hover{
      background-color: #888;
    }
  }
  
  li.sfHover > .sub-menu{
    display: block;
  }
  li li.sfHover{
    border-left: 4px solid #9e1b32;
  }
  li li.sfHover > .sub-menu {
    background-color: #888;
    border-left: 4px solid #9e1b32;
    margin-left: 80px;
  }
}


@media (min-width: 600px){
  .primary-menu .btn_menu { display:none; }
  .primary-menu li{
    display: inline-block;
  }
  .primary-menu ul{
    display: block;
  }
}