.social-links {
	clear: both;
	margin: 1.75em auto 0;
	.site-header &{
		margin: auto;
    text-align: right;  	
  }
}
.social-links:only-child {
	margin-top: 0;
}

.social-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-links ul li {
	display: inline-block;
	list-style: none;
	margin: 0 .25em;
}

.social-links a {
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 6px;
	text-decoration: none;
	border-radius: 50%;
	&:before{
  	@include fa-icon();
  	border-radius: 50%;
  	color: #fff;
  	content: $fa-var-link;
  	display: block;
  	font-size: 18px;
  	font-size: 1.8rem;
  	line-height: 1;
  	padding: 10px;
  	position: relative;
  	text-align: center;
  	transition: top .3s ease-in-out;
  	border-radius: 50%;
	}
	&:hover{
  	border-bottom: none;
  	&:before {
    	background: #ddb152;
    	text-decoration: none;
    	transition: background .3s ease-in-out;
    	-webkit-transition: background .3s ease-in-out;
    }
	}
}
.rebel-feed .social-links {
  text-align: center;
  a {
  text-transform: uppercase;
  &:before{
    background-color: $brand-primary;
  }
  
  &:hover:before{
    color: $brand-primary;
    background-color: white;
 }
 }
}
.social-links ul a{
  &[href*='wordpress.org']:before,
  &[href*='wordpress.com']:before {
  	content: $fa-var-wordpress;
  }
  &[href*='facebook.com']:before {
  	content: $fa-var-facebook;
  	width: 1.8em; // the facebook icon is taller and thinner than all the other icons, so rounded hovers look awkward
  }
  &[href*='twitter.com']:before {
  	content: $fa-var-twitter;
  }
  &[href*='dribbble.com']:before {
  	content: $fa-var-dribbble;
  }
  
  &[href*='plus.google.com']:before {
  	content: $fa-var-google-plus;
  }
  
  &[href*='pinterest.com']:before {
  	content: $fa-var-pinterest;
  }
  
  &[href*='github.com']:before {
  	content: $fa-var-github;
  }
  
  &[href*='tumblr.com']:before {
  	content: $fa-var-tumblr;
  }
  
  &[href*='youtube.com']:before {
  	content: $fa-var-youtube;
  }
  
  &[href*='flickr.com']:before {
  	content: $fa-var-flickr;
  }
  
  &[href*='vimeo.com']:before {
  	content: $fa-var-vimeo;
  }
  
  &[href*='instagram.com']:before {
  	content: $fa-var-instagram;
  }
  
  &[href*='codepen.io']:before {
  	content: $fa-var-codepen;
  }
  
  &[href*='linkedin.com']:before {
  	content: $fa-var-linkedin;
  }
  
  &[href*='foursquare.com']:before {
  	content: $fa-var-foursquare;
  }
  
  &[href*='reddit.com']:before {
  	content: $fa-var-reddit;
  }
  
  &[href*='digg.com']:before {
  	content: $fa-var-digg;
  }
  
  &[href*='getpocket.com']:before {
  	content: $fa-var-get-pocket;
  }
  
  
  &[href*='stumbleupon.com']:before {
  	content: $fa-var-stumbleupon;
  }
  
  &[href*='spotify.com']:before {
  	content: $fa-var-spotify;
  }
  
  &[href*='twitch.tv']:before {
  	content: $fa-var-twitch;
  }
  
  &[href*='dropbox.com']:before {
  	content: $fa-var-dropbox;
  }
  
  &[href*='/feed']:before {
  	content: $fa-var-rss;
  }
  
  &[href*='skype']:before {
  	content: $fa-var-skype;
  }
  
  &[href*='mailto']:before {
  	content: $fa-var-envelope;
  }

}
