table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
th { 
  text-align: left; 
}
tr, th, td { 
  padding-right: 1.625em; 
  border-bottom: 1px solid #EAE7DE; 
}
td { 
  vertical-align: top; 
}