h3#reply-title {
	color: #B30837;
	font-size: 1.25em;
	font-weight: bold;
	margin:0 0 1em;
	text-transform: uppercase;
}



#comments { clear: both; }

#comments .navigation { padding: 0 0 18px 0; }
.commentlist { list-style: none; margin: 0; padding: 0;}
.commentlist li.comment { border-bottom: 1px solid #e1e1e1; font-size: 14px; line-height: 1.75em; margin: 0 0 20px 0; padding: 0; position: relative; }
.commentlist li.comment ul.children {margin-left: 25px; }
.commentlist ul.children li {
	background-color: #f6f6f6;
	border-bottom: solid 1px #e1e1e1;
	margin-bottom: 1px;
	padding: 15px 20px 0;
}
.commentlist ul.children li:last-child {
	border-bottom: 0;
}
#comments .comment-body ul, #comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol { list-style: decimal; }
.comment-author { margin-bottom:3px; }
.comment-author cite { color: #B1B1B1; font-weight: bold; font-style:normal; font-size:14px; }
.comment-author .says {  display:none; }
.comment-meta { display: inline; float: right; font-size: 11px; margin: 0; }
.comment-meta a:link, .comment-meta a:visited { color: #bbb; text-decoration: none; }
.comment-meta a:active, .comment-meta a:hover, .comment-meta a:focus { color: #333; }
.reply { font-size: 12px; padding: 0 0 24px 0; }
.commentlist .children { list-style: none; margin: 0; }
.commentlist .children li { border: none; margin: 0; }
.nopassword, .nocomments { display: none; }
#comments .pingback { border-bottom: 1px solid #dedede; margin-bottom: 18px; padding-bottom: 18px; }
.commentlist li.comment+li.pingback { margin-top: -6px; }
#comments .pingback p { color: #888; display: block; font-size: 12px; line-height: 18px; margin: 0; }
#comments .pingback .url { font-size: 13px; font-style: italic; }
.comment-notes { display:none; }

/* Comments form */
#respond { overflow: hidden; position: relative; }
#respond p { margin: 0; }
#respond .logged-in-as { margin-bottom: 1em; }
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0; }
.commentlist #respond { clear: both; display: block; }
#cancel-comment-reply-link { font-size: 12px; font-weight: normal; line-height: 18px; }
#respond .required_lab { font-weight: bold; color: #d24355; }
#respond label {display: block; font-size: 14px; font-weight: 500; line-height: 30px; }
#respond input { margin: 0; }
#respond input,
#respond textarea {
	background-color: #f4f4f4;
	border: solid 1px #e1e1e1;
	color: #444;
	font-size: 13px;
	line-height: 20px;
	padding: 4px 6px;
}
#respond textarea { width: 93%; height: 100px;  }
#respond .form-allowed-tags { display: none; color: #888; font-size: 12px; line-height: 18px; }
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit { text-align:left; margin-top:10px; }
#respond .form_fields { width: 100%; }
#respond .form_fields p { margin-bottom:7px; }
#respond .form_fields input { width:40%; }