.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.divider{
  border-top: 1px solid #ececec;
  clear: both;
  margin: 1rem 0;
}
hr{
  clear: both;
  margin: 1rem 0;
}
.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: .75rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
  color: $brand-primary;
  font-size: 2.5em;
  line-height: 1.5em;
  margin: 0;
}

.blog-list{
  .entry-title, .post-title{
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: bold;
  }
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}
.single .entry-title{
  color: $brand-primary;
}

.nav-links{
  @include clearfix();
  font-size: .85em;
  .nav-previous{
    width: 50%;
    float: left;
  }
  .nav-next{
    width: 50%;
    float: left;
    text-align: right;
  }
}

.entry-content{
  h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
  }
}
.entry-content h1, .entry-content h2, .entry-content h3{
  color: #9e1b32;
}
.entry-content h1{
  margin-top: 20px;
}




/* Sharing Buttons */
.post-share-buttons {
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.post-share-buttons a {
  color: #fff;
  display: inline-block;
  margin: 0 3px;
  padding: 5px 8px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.post-share-buttons a:first-child {
	margin-left: 0;
}

.post-share-buttons a:last-child {
	margin-right: 0;
}

.post-share-buttons a.twitter {
    background: #3a93d8
}

.post-share-buttons a.facebook {
    background: #2e6cc8
}

.post-share-buttons a.gplus {
    background: #dd5042
}

.post-share-buttons a.twitter:before { content: "\f301"; display: inline-block; -webkit-font-smoothing: antialiased; font: normal 16px/16px 'dashicons'; vertical-align: top; margin: 3px 5px 0 0; }
.post-share-buttons a.facebook:before { content: "\f305"; display: inline-block; -webkit-font-smoothing: antialiased; font: normal 16px/16px 'dashicons'; vertical-align: top; margin: 3px 5px 0 0; }
.post-share-buttons a.gplus:before { content: "\f462"; display: inline-block; -webkit-font-smoothing: antialiased; font: normal 16px/16px 'dashicons'; vertical-align: top; margin: 3px 5px 0 0; }


.post-share-buttons a.twitter:hover {
    background: #59aef5
}

.post-share-buttons a.facebook:hover {
    background: #5084e4
}

.post-share-buttons a.gplus:hover {
    background: #fb6c59
}