.wp-caption {
	background-color: #f9f9f9; 
  border: solid 1px #e9e9e9; 
  padding: 10px 8px; 
  text-align:center; 
}

.wp-caption img {
  background:none; 
  margin:0 0 10px; 
  border:0 none; 
  max-width:100%; 
  width:auto; 
  height:auto;
}

.wp-caption .wp-caption-text, .gallery-caption {
	color: #686868;
	font-size: 11px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.4em;
	padding-top: 5px;
}

.wp-caption.aligncenter { 
  margin:0 auto 15px; 
}