.gallery {
	margin-bottom: 1.5em;
	clear: both;
}

.gallery-item {
  margin: 10px; 
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
	margin-left: 0;
}

.gallery-icon{
  border: solid 2px #f6f3ee;
  padding: 5px 5px 0;
}

.gallery img {
  width: 100%; 
  height: auto; 
  margin-bottom: 5px;
}